.sportspage {
    font-family: "Russo One", sans-serif;
    width: 100%;
    &__title {
        margin: 60px 0 80px;
        position: relative;
        width: 100%;
        .background {
            height: 150px;
            width: 80%;
            background-color: #93fe00;
            position: absolute;
            z-index: 1;
            right: 0;
            margin-top: 60px;
        }
        .sportspage--info {
            display: grid;
            grid-template-columns: 1fr 1fr;
            &__img {
                z-index: 2;
            }
            &__txt {
                margin-top: 90px;
                width: 400px;
                h1 {
                    font-size: 40px;
                    text-transform: uppercase;
                    z-index: 2;
                    position: relative;
                }
            }
        }
    }
    &__filter {
        width: 100%;
        height: 40px;
        background-color: #93fe00;
        .filter {
            display: flex;
            &__button {
                height: 40px;
                padding: 0 25px;
                display: flex;
                align-items: center;
                p {
                    text-transform: uppercase;
                    font-size: 18px;
                }
            }
            &__button:hover {
                background-color: #a3a3a3;
            }
        }
    }
    &__sports {
        .sports--blocks {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            &__block {
                width: 250px;
                height: 100%;
                margin: 50px 20px 0 20px;
                .sports--block {
                    &__imagebox {
                        height: 150px;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            display: block;
                        }
                    }
                    &__titlebox {
                        background-color: #222222;
                        height: 45px;
                        text-transform: uppercase;
                        color: #93fe00;
                        display: flex;
                        align-items: center;
                        padding-left: 10px;
                    }
                    &__infobox {
                        background-color: #93fe00;
                        height: 100px;
                        // display: flex;
                        // align-items: center;
                        padding: 10px 0 10px 10px;
                        color: #222222;
                        .infobox--title {
                            font-size: 18px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}
